$color-primary-0: #6291CD;	// Main Primary color */
$color-primary-1: #BBD3F3;
$color-primary-2: #89B0E2;
$color-primary-3: #4274B4;
$color-primary-4: #275C9F;

$color-secondary-1-0: #FFE06D;	// Main Secondary color (1) */
$color-secondary-1-1: #FFF1BE;
$color-secondary-1-2: #FFE892;
$color-secondary-1-3: #FFD94E;
$color-secondary-1-4: #F2C82B;

$color-secondary-2-0: #FFA36D;	// Main Secondary color (2) */
$color-secondary-2-1: #FFD6BE;
$color-secondary-2-2: #FFBB92;
$color-secondary-2-3: #FF904E;
$color-secondary-2-4: #F2752B; 


$htmlFontSize: 18;
$screen-small: (1024/$htmlFontSize) + 'em';
$tablet-small: (768/$htmlFontSize) + 'em';